.DS_Store
/.idea
/.idea/*
/lib
/libs
/node_modules
/out
/src/main/resources/apns/*
*.iml
arlearn.gae.iml
.settings
bin/*
target/*
src/main/webapp/Authoring.css
src/main/webapp/ResultDisplay.css
src/main/webapp/ResultDisplay.html
src/main/webapp/authToken.html
src/main/webapp/channeltest.html
src/main/webapp/contact.html
src/main/webapp/debug.html
src/main/webapp/src/components/pages/
src/main/webapp/filesBlobOverview.jsp
src/main/webapp/filesOverview.jsp
src/main/webapp/gameItemOverview.jsp
src/main/webapp/gameOverview.jsp
src/main/webapp/gamesOverview.jsp
src/main/webapp/index.jsp
src/main/webapp/issuebadge.jsp
src/main/webapp/portal.html
src/main/webapp/qrsFor.jsp
src/main/webapp/resultDisplayRuns.html
src/main/webapp/runsParticipateDisplay.html
src/main/webapp/search.html
src/main/webapp/htmlDisplay.html
src/main/webapp/oauth copy.html
npm-debug.log
src/main/webapp/src/assets/plugins/
src/main/webapp/src/assets/plugins/*
my.conf.js
pom.xml
src/main/webapp/public
dojo-ibl-firebase-adminsdk-ofvly-bf28455fa0.json

src/main/webapp/WEB-INF/dojo-ibl-firebase-adminsdk-ofvly-4e5a54f674.json
