.DS_Store
/.idea
/.idea/*
/lib
/libs
/out
/src/main/resources/apns/*
*.iml
arlearn.gae.iml
.settings
bin/*
target/*
src/main/webapp/Authoring.css
src/main/webapp/ResultDisplay.css
src/main/webapp/ResultDisplay.html
src/main/webapp/authToken.html
src/main/webapp/channeltest.html
src/main/webapp/contact.html
src/main/webapp/debug.html
src/main/webapp/dist/js/pages/
src/main/webapp/filesBlobOverview.jsp
src/main/webapp/filesOverview.jsp
src/main/webapp/gameItemOverview.jsp
src/main/webapp/gameOverview.jsp
src/main/webapp/gamesOverview.jsp
src/main/webapp/index.jsp
src/main/webapp/issuebadge.jsp
src/main/webapp/portal.html
src/main/webapp/qrsFor.jsp
src/main/webapp/register.html
src/main/webapp/resultDisplayRuns.html
src/main/webapp/runsParticipateDisplay.html
src/main/webapp/search.html
src/main/webapp/htmlDisplay.html
src/main/webapp/inquiry.html
src/main/webapp/main.html
src/main/webapp/oauth copy.html
