<div class="loginColumns animated fadeInDown">
    <div class="row ibox-content-login">

        <div class="col-md-6 ">
            <h2 class="font-bold">{{'intro-title' | translate }}</h2>

            <img class="logoFamilyGuy" src="/src/assets/img/corporate/logodojo.png" alt=""/>

            <p>
                <small>{{'intro-disclaimer' | translate }}</small>
            </p>

        </div>
        <div class="col-md-6">
            <div>
                <form class="m-t" role="form">
                    <div class="form-group">
                        <input type="email" ng-model="email" class="form-control" placeholder="{{'intro-user-placeholder' | translate }}" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="password" class="form-control" placeholder="{{'intro-password-placeholder' | translate }}" required="">
                    </div>
                    <!--<a class="btn btn-primary block full-width m-b"><i class="fa fa-address-card"></i> Login with DojoIBL account</a>-->
                    <a ng-click="emailProvider()" class="btn btn-primary block full-width m-b"><i class="fa fa-envelope"></i> {{'login-email' | translate }} </a>
                    <a ng-click="googleProvider()" class="btn btn-danger google-background-button block full-width m-b"><i class="fa fa-google-plus-square"></i> {{'login-google' | translate }} </a>

                    <a href="#">
                        <small>{{'forgot-pass' | translate }}</small>
                    </a>

                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <a class="btn btn-sm btn-white btn-block" href="/#/register">{{'create-account' | translate }}</a>
                </form>
                <p class="m-t"> <small>DojoIBL &copy; 2015-2017</small> </p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright DojoIBL
        </div>
        <div class="col-md-6 text-right">
            <small>© 2015-2017</small>
        </div>
    </div>
</div>
