<div class="ibox-content ">
    <div class="heading">
        <small class="chat-date pull-right">
            <div class="ibox-tools">
                <a class="close-link" ng-click="closeActivity()" title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </small>
        <i class="fa fa-calendar"/> {{'student-calendar' | translate }}
    </div>

    <div class="ibox-content ui-calendar mail-body">
        <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="calendar" ng-model="eventSources"></div>
    </div>
</div>
