<div class="ibox-content ">
    <div class="heading">
        <small class="chat-date pull-right">
            <div class="ibox-tools">
                <a class="close-link" ng-click="closeActivity()" title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </small>
        <i class="fa fa-calendar"/> {{'student-dashboard' | translate }}
    </div>

    <div ng-repeat="widget in listwidgets">
        <h2>{{ widget.title }}</h2>
        <p>{{ widget.description }}</p>
        <div class="intrinsic-container intrinsic-container-16x9" >
            <iframe ng-src="{{trustSrc(widget.url)}}" style="float:left; height: 100%; width: 100%; position: absolute;" frameborder="0"></iframe>
        </div>
    </div>


</div>
