<div class="ibox-content ">
    <div class="heading">
        <small class="chat-date pull-right">
            <div class="ibox-tools">
                <a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit" title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
        </small>
        <i class="fa fa-calendar"/> Calendar
    </div>

    <div class="m">
        <iframe src="https://20171003t145857-dot-xapi-proxy.appspot.com/embed.html?queryId=5735644751986688&visualisationId=barchart" style="float:left; height: 100%; width: 100%; position: absolute;" frameborder="0"></iframe>

    </div>
</div>
