<dibl-sidebar></dibl-sidebar>

<div id="page-wrapper" class="gray-bg">

    <dibl-header></dibl-header>

    <dibl-toolbar></dibl-toolbar>

    <div class="row inquiry">

        <!--<div class="col-lg-3">-->
            <!--<div class="wrapper wrapper-content project-manager">-->
                <!--<h4><b>{{'dibl.inquiry.new-edit.inquiry-title' |-->
                    <!--translate}}</b>: {{ run.title }}</h4>-->
                <!--<br/>-->
                <!--&lt;!&ndash;<img src="http://webapplayers.com/inspinia_admin-v2.5/img/zender_logo.png" class="img-responsive">&ndash;&gt;-->
                <!--<br/>-->
                <!--<b>{{ 'dibl.inquiry.new-edit.inquiry-description' | translate }}</b> <div ng-bind-html="run.game.description | unsafe"></div>-->

            <!--</div>-->
        <!--</div>-->

        <div class="col-md-6 wrapper wrapper-content animated fadeInpanel-body">
                <div class="ibox-content">
                    <div class="heading ng-binding">
                        {{'dibl.inquiry.new-edit.inquiry-metadata' | translate}}
                    </div>
                    <div class="padding">
                        <div class="ibox-content profile-content">
                            <form role="form">
                                <div class="box-body">
                                    <form novalidate>
                                        <div class="form-group">
                                            <label for="gameTitle">{{'dibl.inquiry.new-edit.inquiry-title' |
                                                translate}}</label>
                                            <input required type="name" class="form-control" id="gameTitle"
                                                   placeholder="{{'dibl.inquiry.new-edit.inquiry-title-placeholder' | translate}}"
                                                   ng-model="run.title">
                                        </div>
                                    </form>

                                    <label>{{ 'dibl.inquiry.new-edit.inquiry-description' | translate }}</label>
                                    <!--<div summernote></div>-->

                                    <text-angular ta-toolbar="[
                                        ['bold','italics'],
                                        ['justifyCenter', 'justifyLeft'], ['ul', 'ol'],
                                        ['insertImage', 'insertLink','insertVideo']]
                                        " ng-model="run.game.description"></text-angular>

                                    <!--<text-angular ta-toolbar="[['h1','h2','h3', 'B'], ['html']]"-->
                                    <!--id="gameDescription"-->
                                    <!--name="description"-->
                                    <!--class="hola"-->
                                    <!--ng-model="run.game.description"></text-angular>-->
                                </div>


                            </form>

                            <div class="pull-right tooltip-demo">
                                <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip"
                                   data-placement="top" title="Move to draft folder"><i class="fa fa-times"></i>
                                    Discard</a>

                                <a class="btn btn-primary btn-sm" data-toggle="tooltip"
                                   data-placement="top" ng-click="ok()" title="Save inquiry"><i class="fa fa-check"></i>
                                    {{ 'dibl.inquiry.new-edit.inquiry-save' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{ 'dibl.inquiry.new-edit.run-participants' | translate }}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">

                        <div class="row">
                            <div class="project-list col-md-12">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr ng-repeat="user in usersRun track by $index">
                                        <td class="client-avatar">
                                            <ng-letter-avatar ng-if="user.picture == ''" data="{{ user.name }}"></ng-letter-avatar>
                                            <img alt="image" ng-if="user.picture != ''" ng-src="{{ user.picture }}">
                                        </td>
                                        <td><a data-toggle="tab" href="#/profile/{{ user.localId }}"
                                               class="client-link">{{ user.name }}</a></td>
                                        <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                        <td> {{ user.email }}</td>
                                        <td>
                                           <div class="pull-right">
                                                <button type="button" class="btn btn-sm btn-white" ng-click="removeAccess(run.runId, user)"><i
                                                        class="fa fa-times"></i> Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <dibl-footer></dibl-footer>

</div>
