
<!--<div class="tabs-container">-->

<div class="panel-body no-padding-no-border-radius">
    <div class="ibox-content">
        <div class="heading">
            <small class="chat-date pull-right">

            </small>
            {{ inqTitle }}
            <div class="ibox-tools">
                <a class="close-link"  ng-click="visualization = !visualization">
                    <i class="fa fa-share-alt" ng-show="visualization"></i>
                    <i class="fa fa-bars"  ng-hide="visualization"></i>
                </a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="padding" ng-show="visualization">
                <p><span class="badge badge-info">Important</span> <i class="fa fa-info"></i> These are the phases in which the project is structured </p>
                <ul class="sortable-list connectList agile-list ui-sortable" id="0">
                    <li ng-repeat="phase in phases">
                        <i class="fa fa-th-list"></i>

                        <a href="#inquiry/{{ inqId }}/phase/{{$index}}">{{$index}}. {{ phase.title }}</a>
                        <br/>
                    </li>
                    <li ng-if="phases.length == 0">{{'dibl.inquiry.structure.no-phases' |
                        translate}}</li>
                </ul>
            </div>

            <ul id="circlemenu" class="list" ng-hide="visualization">
                <li href="#inquiry/{{ inqId }}/phase/{{ phase.phaseId }}" ng-style="{'left': '{{ calculateLeft($index + 1) }}px','top': '{{ calculateTop(phases, $index) }}px'}" ng-repeat="phase in phases">
                    <div class="knob-label"><a href="#inquiry/{{ inqId }}/phase/{{$index + 1}}"> {{ phase.title }}</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>

