
<div class="panel-body no-padding-no-border-radius col-md-12 wrapper wrapper-content animated fadeInpanel-body">
    <div class="ibox-content">
        <div class="heading ng-binding">
            <small  class="chat-date " >
                <div class="ibox-tools">
                    <a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit" title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </small>
            {{ 'dibl.inquiry.view.description' | translate }} <b>{{ inqTitle }}</b>
            <div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>

        <div class="padding row top-buffer show-grid">
            <section ng-repeat="phase in phases track by $index"  >
                <h3 style="margin-top: 0px;">
                    <span><a ng-click="goToPhase(inqId, $index)">{{ $index }}. {{ phase.title }}</a></span>
                </h3>
                <ul id="{{$index}}" class="sortable-list connectList agile-list ui-sortable">
                    <li ng-click="goToActivity(inqId, activity.section, activity.id)" id="{{ activity }}" ng-style="getRoleColor(activity.roles2)" data="{{ activity.id }}" ng-repeat="(key, activity) in activities[game.gameId][$index] | orderByDayNumber:'sortKey'">

                        <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'" class="fa fa-tasks"></i>
                        <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'" class="fa fa-file-text"></i>
                        <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'" class="fa fa-file-movie-o"></i>
                        <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'" class="fa fa-folder"></i>

                        <a ng-click="goToActivity(inqId, activity.section, activity.id)"><!--<i class="fa fa-circle"></i>--> {{ activity.name | limitTo: 20 }}</a>
                        <br/>
                        <p class="small">{{ activity.description | limitTo: 20 }}</p>
                        <div class="agile-detail">
                            <a class="pull-right btn btn-xs btn-white">{{ getRoleName(activity.roles2) }}</a>
                            <i class="fa fa-clock-o"></i> {{ activity.timestamp | timeago }}
                        </div>
                    </li>
                </ul>
            </section>
        </div>

    </div>
</div>

