<dibl-sidebar></dibl-sidebar>

<div id="page-wrapper" class="gray-bg" ng-controller="InstantMessagingController">

    <dibl-header></dibl-header>

    <dibl-toolbar></dibl-toolbar>

    <div class="row inquiry">

        <div class="col-md-6 wrapper wrapper-content animated fadeIn">

            <dibl-pinned></dibl-pinned>

            <div ui-view></div>
        </div>

        <!--<div class="col-lg-4 wrapper wrapper-content small-chat-float" scroll-position="scroll" >-->
            <!--<div class="ibox-chat-content" ng-style="{'top': scroll > 148 ? scroll - 148 : 0, 'position': scroll > 148 ? 'relative': 'none'}">-->
                <!--<div class="heading">-->
                    <!--<small class="chat-date pull-right">-->
                    <!--</small>-->
                    <!--{{'dibl.inquiry.structure.chat' | translate }}-->
                    <!--<div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">-->
                        <!--<div class="sk-rect1"></div>-->
                        <!--<div class="sk-rect2"></div>-->
                        <!--<div class="sk-rect3"></div>-->
                        <!--<div class="sk-rect4"></div>-->
                        <!--<div class="sk-rect5"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div style="position: relative; height: 400px;">-->
                    <!--<div class="chat-discussion" scroll-glue="glued" style="height: 400px;">-->

                        <!--<div ng-repeat="message in messages">-->
                            <!--<message-l  message="message" ng-if="message.localId != account.localId"></message-l>-->
                            <!--<message-r  message="message" ng-if="message.localId == account.localId"></message-r>-->
                        <!--</div>-->

                        <!--&lt;!&ndash;<div class="spiner-example" ng-show="!messages.messages">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="sk-spinner sk-spinner-three-bounce" ng-show="disableGameLoading">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="sk-bounce1"></div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="sk-bounce2"></div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="sk-bounce3"></div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-chat">-->
                    <!--<div class="input-group input-group-sm">-->
                        <!--<input id="add-new-message" placeholder="{{'dibl.toolbar.placeholder-message' | translate }}" ng-keyup="$event.keyCode == 13 && sendMessage()" type="text" class="form-control" ng-model="bodyMessage">-->
                        <!--&lt;!&ndash;<text-angular ta-toolbar="[]" ng-enter="sendMessage()" ng-model="bodyMessage"></text-angular>&ndash;&gt;-->
                        <!--<span class="input-group-btn">-->
                            <!--<button ng-click="sendMessage()" ng-disabled="!bodyMessage" class="btn btn-primary" type="button">{{'dibl.inquiry.structure.send' | translate }} </button>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>

    <dibl-footer></dibl-footer>


    <div ng-class="{ 'active': hiddenDiv }" class="small-chat-box fadeInRight animated" scroll-position="scroll" >

        <div class="heading" draggable="true">
            <small class="chat-date pull-right">

            </small>
            Small chat
        </div>

        <div style="position: relative; width: auto; height: 234px;">
            <div class="chat-discussion" scroll-glue="glued" style="width: auto; height: 234px;">

                <div ng-repeat="message in messages">
                    <message-l  message="message" ng-if="message.localId != account.localId"></message-l>
                    <message-r  message="message" ng-if="message.localId == account.localId"></message-r>
                </div>

            </div>
        </div>
        <div class="form-chat">
            <div class="input-group input-group-sm">
                <input ng-enter="sendMessage()" type="text" class="form-control" ng-model="bodyMessage">
                <!--<text-angular ta-toolbar="[]" ng-enter="sendMessage()" ng-model="bodyMessage"></text-angular>-->
            <span class="input-group-btn">
                <button ng-click="sendMessage()" ng-disabled="!bodyMessage" class="btn btn-primary" type="button">{{'dibl.inquiry.structure.send' | translate }} </button>
            </span>
            </div>
        </div>
    </div>
    <div id="small-chat">
        <span class="badge badge-warning pull-right">{{ numberMessages }}</span>
        <a class="open-small-chat" ng-click="hiddenDiv = !hiddenDiv">
            <i ng-class="{ 'fa-remove': hiddenDiv, 'fa-comments': !hiddenDiv,  }" class="fa"></i>
        </a>
    </div>

    <div id="back-screen" ng-show="state.current.name == 'inquiry.activity'">
        <a class="open-small-chat" href="#inquiry/{{ run.runId }}" >
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>

</div>
