<dibl-sidebar></dibl-sidebar>

<div id="page-wrapper" class="gray-bg" ng-controller="InstantMessagingController">

    <dibl-header></dibl-header>

    <dibl-toolbar></dibl-toolbar>

    <div class="row inquiry  wrapper wrapper-content row-fluid">
        <dibl-pinned></dibl-pinned>

        <div id="structure-view" ng-class="{'col-md-12' : !toggle, 'col-md-3': toggle }" class=" animated fadeIn">

            <div class="panel-body no-padding-no-border-radius col-md-12 wrapper wrapper-content animated fadeInpanel-body m-b-sm" ng-repeat="phase in phases track by $index">
                <div class="ibox-content">
                    <div class="heading ng-binding">
                        <small  class="chat-date " >
                            <div class="ibox-tools">
                                <!--<a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit" title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">-->
                                    <!--<i class="fa fa-pencil"></i>-->
                                <!--</a>-->
                            </div>
                        </small>
                        {{ $index }}. {{ phase.title }} phase
                        <div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </div>

                    <div ng-class="{'m': !toggle}" >
                        <!--<p ng-show="$index == 0">-->
                        <!--<span class="badge badge-info">Important</span> <i class="fa fa-info"></i> {{'dibl.inquiry.phase.instruction' | translate}}-->
                        <!--</p>-->

                        <div ng-class="{'col-lg-4' : !toggle, 'col-lg-12': toggle, 'separator': !toggle}" class="">
                            <h3 ng-hide="toggle">ToDo</h3>
                            <!--<p ng-show="$index == 0" class="small"><i class="fa fa-list"></i> List of activities to be done</p>-->
                            <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list ui-sortable" id="0">
                                <li ng-click="goToActivity(run.runId, activity.section, activity.id)" ng-hide="activity.status.status == 1 || activity.status.status == 2"
                                    ng-style="getRoleColor(activity.roles2)" data="{{ activity.id }}" ng-repeat="(key, activity) in activities[run.runId][$index] | orderByDayNumber:'sortKey'">
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'" class="fa fa-tasks"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'" class="fa fa-file-text"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'" class="fa fa-file-movie-o"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'" class="fa fa-folder"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.SingleChoiceImageTest'" class="fa fa-list-alt"></i>

                                    <a href="#inquiry/{{ run.runId }}/phase/{{ activity.section }}/activity/{{ activity.id }}" >{{ activity.name }}</a>
                                    <br/>
                                    <p class="small" ng-hide="toggle">{{ activity.description | limitTo: 20 }}</p>
                                    <div class="agile-detail" ng-hide="toggle">
                                        <span class="pull-right btn btn-xs btn-white">{{ getRoleName(activity.roles2) }}</span>
                                        <i class="fa fa-clock-o"></i> {{ activity.lastModificationDate | date:'short' }}
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div ng-class="{'col-lg-4' : !toggle, 'col-lg-12': toggle, 'separator': !toggle}" >
                            <h3 ng-hide="toggle">In progress</h3>
                            <!--<p ng-show="$index == 0" class="small"><i class="fa fa-list"></i> List of activities in progress</p>-->
                            <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list ui-sortable" id="1">
                                <li ng-click="goToActivity(run.runId, activity.section, activity.id)" ng-show="activity.status.status == 1" ng-style="getRoleColor(activity.roles2)" data="{{ activity.id }}" ng-repeat="(key, activity) in activities[run.runId][$index] | orderByDayNumber:'sortKey'">
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'" class="fa fa-tasks"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'" class="fa fa-file-text"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'" class="fa fa-file-movie-o"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'" class="fa fa-folder"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.SingleChoiceImageTest'" class="fa fa-list-alt"></i>

                                    <a href="#inquiry/{{ run.runId }}/phase/{{ activity.section }}/activity/{{ activity.id }}">{{ activity.name }}</a>
                                    <br/>
                                    <p class="small" ng-hide="toggle">{{ activity.description | limitTo: 20 }}</p>
                                    <div class="agile-detail" ng-hide="toggle">
                                        <span class="pull-right btn btn-xs btn-white">{{ getRoleName(activity.roles2) }}</span>
                                        <i class="fa fa-clock-o"></i> {{ activity.lastModificationDate | date:'short' }}
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div ng-class="{'col-lg-4' : !toggle, 'col-lg-12': toggle}" >
                            <h3 ng-hide="toggle">Completed</h3>
                            <!--<p ng-show="$index == 0" class="small"><i class="fa fa-list"></i> List of activities completed</p>-->
                            <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list ui-sortable" id="2">
                                <li ng-click="goToActivity(run.runId, activity.section, activity.id)" ng-show="activity.status.status == 2" ng-style="getRoleColor(activity.roles2)" data="{{ activity.id }}" ng-repeat="(key, activity) in activities[run.runId][$index] | orderByDayNumber:'sortKey'">
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'" class="fa fa-tasks"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'" class="fa fa-file-text"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'" class="fa fa-file-movie-o"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'" class="fa fa-folder"></i>
                                    <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.SingleChoiceImageTest'" class="fa fa-list-alt"></i>

                                    <a href="#inquiry/{{ run.runId }}/phase/{{ activity.section }}/activity/{{ activity.id }}" >{{ activity.name }}</a>
                                    <br/>
                                    <p class="small" ng-hide="toggle">{{ activity.description | limitTo: 20 }}</p>
                                    <div class="agile-detail" ng-hide="toggle">
                                        <span href="#" class="pull-right btn btn-xs btn-white">{{ getRoleName(activity.roles2) }}</span>
                                        <i class="fa fa-clock-o"></i> {{ activity.lastModificationDate | date:'short' }}
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>

                </div>
            </div>



        </div>

        <div id="activity-view" ng-class="{'col-md-0' : !toggle, 'col-md-9': toggle || $state.includes('inquiry.activity') || $state.includes('inquiry.dashboard') || $state.includes('inquiry.calendar') }" ui-view></div>

    </div>

    <dibl-footer></dibl-footer>


    <div ng-class="{ 'active': hiddenDiv }" class="small-chat-box fadeInRight animated" scroll-position="scroll" >

        <div class="heading" draggable="true">
            <small class="chat-date pull-right">

            </small>
            Small chat
        </div>

        <div style="position: relative; width: auto; height: 234px;">
            <div class="chat-discussion" scroll-glue="glued" style="width: auto; height: 234px;">

                <div ng-repeat="message in messages">
                    <message-l  message="message" ng-if="message.localId != account.localId"></message-l>
                    <message-r  message="message" ng-if="message.localId == account.localId"></message-r>
                </div>

            </div>
        </div>
        <div class="form-chat">
            <div class="input-group input-group-sm">
                <input ng-enter="sendMessage()" type="text" class="form-control" ng-model="bodyMessage">
                <!--<text-angular ta-toolbar="[]" ng-enter="sendMessage()" ng-model="bodyMessage"></text-angular>-->
            <span class="input-group-btn">
                <button ng-click="sendMessage()" ng-disabled="!bodyMessage" class="btn btn-primary" type="button">{{'dibl.inquiry.structure.send' | translate }} </button>
            </span>
            </div>
        </div>
    </div>
    <div id="small-chat">
        <span class="badge badge-warning pull-right">{{ numberMessages }}</span>
        <a class="open-small-chat" ng-click="hiddenDiv = !hiddenDiv">
            <i ng-class="{ 'fa-remove': hiddenDiv, 'fa-comments': !hiddenDiv,  }" class="fa"></i>
        </a>
    </div>

    <div id="back-screen" ng-show="state.current.name == 'inquiry.activity'">
        <a class="open-small-chat" href="#inquiry/{{ run.runId }}" >
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>

</div>
