<dibl-sidebar></dibl-sidebar>

<div id="page-wrapper" class="gray-bg">

    <dibl-header></dibl-header>

    <dibl-toolbar></dibl-toolbar>

    <div class="row inquiry">

        <div class="col-md-6 wrapper wrapper-content animated fadeInpanel-body">
                <div class="ibox-content">
                    <div class="heading ng-binding">
                        {{'edit-group-header' | translate}}
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="padding">
                        <div class="ibox-content profile-content">
                            <form role="form">
                                <div class="box-body">
                                    <form novalidate>
                                        <div class="form-group">
                                            <label for="gameTitle">{{'edit-group-title' |
                                                translate}}</label>
                                            <input required type="name" class="form-control" id="gameTitle"
                                                   placeholder="{{'dibl.inquiry.new-edit.inquiry-title-placeholder' | translate}}"
                                                   ng-model="run.title">
                                        </div>
                                    </form>

                                    <label>{{ 'edit-group-description' | translate }}</label>
                                    <!--<div summernote></div>-->

                                    <text-angular ta-toolbar="[
                                        ['bold','italics'],
                                        ['justifyCenter', 'justifyLeft'], ['ul', 'ol'],
                                        ['insertImage', 'insertLink','insertVideo']]
                                        " ng-model="run.game.description"></text-angular>

                                    <!--<text-angular ta-toolbar="[['h1','h2','h3', 'B'], ['html']]"-->
                                    <!--id="gameDescription"-->
                                    <!--name="description"-->
                                    <!--class="hola"-->
                                    <!--ng-model="run.game.description"></text-angular>-->
                                </div>


                            </form>

                            <div class="pull-right tooltip-demo">
                                <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip"
                                   data-placement="top" title="Move to draft folder"><i class="fa fa-times"></i>
                                    Discard</a>

                                <a class="btn btn-primary btn-sm" data-toggle="tooltip"
                                   data-placement="top" ng-click="ok()" title="Save inquiry"><i class="fa fa-save"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{ 'edit-group-participants' | translate }}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">

                        <div class="row">
                            <div class="project-list col-md-12">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr ng-repeat="user in usersRun track by $index">
                                        <td class="client-avatar">
                                            <ng-letter-avatar ng-if="user.picture == ''" data="{{ user.name }}"></ng-letter-avatar>
                                            <img alt="image" ng-if="user.picture != ''" ng-src="{{ user.picture }}">
                                        </td>
                                        <td><a data-toggle="tab" href="#/profile/{{ user.localId }}"
                                               class="client-link">{{ user.name }}</a></td>
                                        <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                        <td> {{ user.email }}</td>
                                        <td>
                                           <div class="pull-right">
                                                <button type="button" class="btn btn-sm btn-white" ng-click="removeAccess(run.runId, user)"><i
                                                        class="fa fa-times"></i> Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{ 'edit-group-visualizations' | translate }}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">

                        <form role="form" ng-submit="addVisualization()">
                            <div class="box-body">
                                <div class="form-group col-md-4">

                                    <label>{{'edit-group-visualization-title' | translate}}</label>
                                    <input required type="name" class="form-control"
                                           placeholder="{{'edit-group-visualization-title-placeholder' | translate}}"
                                           ng-model="visualization.title">
                                </div>

                                <div class="form-group col-md-8">

                                    <label>{{ 'edit-group-visualization-description' | translate }}</label>
                                    <input required type="name" class="form-control"
                                           placeholder="{{'edit-group-visualization-description-placeholder' | translate}}"
                                           ng-model="visualization.description">
                                </div>

                                <div class="form-group col-md-12">

                                    <label>{{ 'edit-group-visualization-url' | translate }}</label>
                                    <input required type="name" class="form-control"
                                           placeholder="{{'edit-group-visualization-url-placeholder' | translate}}"
                                           ng-model="visualization.url">
                                    <input class="btn m-t btn-primary btn-sm pull-right" type="submit" id="submit" value="Submit" />

                                </div>


                            </div>


                        </form>

                        <br/>


                        <table class="table table-bordered col-md-12">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'edit-group-table-title' | translate}}</th>
                                <th>{{'edit-group-table-description' | translate}}</th>
                                <th>{{'edit-group-table-url' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in visualizations">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.url }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <dibl-footer></dibl-footer>

</div>
