<div class="ibox-content special-height">
    <div class="heading">
        <small  class="chat-date pull-right" >
            <div class="ibox-tools">
                <a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit"
                   title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
        </small>
        <i class="fa fa-clock-o"/>
        Timeline
        <div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>

    <div class="mail-body">
        <div class="text-center">
            <div class="form-group">
                <p class="small font-bold">
                    <span><i class="fa fa-filter text-warning"></i> Filters: </span>
                </p>
                    <label class="checkbox-inline" ng-repeat="users in usersRun">
                        <input type="checkbox" value="{{ users.localId }}" ng-model="filter[users.localId]" id="inlineCheckbox1"> {{ users.name }}
                    </label>
            </div>
        </div>
    </div>


    <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">

        <!--<a ng-click="responses.$scroll()">DALE MAS</a>-->

        <div class="feed-element" >
            <div class="vertical-timeline-block ">
                <!--<item ng-repeat='response in responses | orderByDayNumber:"lastModificationDate"' response="response"></item>-->
            </div>
        </div>

        <div class="spiner-example">
            <div  class="sk-spinner sk-spinner-three-bounce" ng-show="disableGameLoading">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
        </div>
    </div>
</div>
