<div class="box-header with-border">
    <h3 class="box-title"><%= name %></h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool close-detail" data-widget="remove"><i class="fa fa-times"></i></button>

    </div><!-- /.box-tools -->
</div><!-- /.box-header -->
<div class="box-body">
    <h1><%= name %></h1>
    <p><%= description %></p>
    <div class="dd" id="nestable3">
        <ol class="dd-list">
            <!--<li class="dd-item dd3-item" data-id="13">-->
                <!--<div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 13</div>-->
            <!--</li>-->
            <!--<li class="dd-item dd3-item" data-id="14">-->
                <!--<div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 14</div>-->
            <!--</li>-->
            <!--<li class="dd-item dd3-item" data-id="15">-->
                <!--<div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 15</div>-->
                <!--<ol class="dd-list">-->
                    <!--<li class="dd-item dd3-item" data-id="16">-->
                        <!--<div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 16</div>-->
                    <!--</li>-->
                    <!--<li class="dd-item dd3-item" data-id="17">-->
                        <!--<div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 17</div>-->
                    <!--</li>-->
                    <!--<li class="dd-item dd3-item" data-id="18">-->
                        <!--<div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 18</div>-->
                    <!--</li>-->
                <!--</ol>-->
            <!--</li>-->
        </ol>
    </div>
    <div class="new-todo-task hide">
        <ol class="dd-list">
            <li class="dd-item dd3-item" data-id="18">
                <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content-input"><input class="new-todo-tasks-value" type="text"/></div>
            </li>
        </ol>
    </div>

    <div class="btn-group pull-left">
        <button type="button" class="btn btn-success new-todo-task">Add a task</button>
    </div>
</div>