<div class="faq-item" data-item="<%= model.responseId %>">
    <div class="row">
        <div class="col-md-1 text-right">
            <%
            if ( author.picture != '') {
            %> <img alt="image" src="<%= author.picture %>"> <%
            }else{
            %> <i class="fa fa-user profile-response"></i> <%
            }
            %>
        </div>
        <div class="col-md-11">
            <a data-toggle="collapse" href="#faq<%= number %>" class="faq-question collapsed" aria-expanded="false"><%= model.responseValue %></a>
            <small>Added by <strong><%= author.givenName %></strong> <i class="fa fa-clock-o"></i> <%= time %></small>
            <!--- <a data="<%= model.responseId %>" gItem="<%= model.generalItemId %>" class="small reply"> Add comment</a>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 m-t m-b-none">
            <div class="btn-group">
                <!--<button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>-->
                <button class="btn btn-white btn-xs" data-toggle="collapse" href="#faq<%= number %>" class="faq-question collapsed" aria-expanded="false"><i class="fa fa-comments"></i> Show comment(s)</button>
                <!--<button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="faq<%= number %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="faq-answer">

                </div>
                <div class="social-comment reply-box-question">
                    <div class="media-body">
                        <textarea responseid="<%= model.responseId %>" class="form-control response" placeholder="Write comment..."></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-sm btn-primary m-t-sm save" responseid="<%= model.responseId %>"><strong>Post comment</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>