<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <servlet>
        <servlet-name>PipelineServlet</servlet-name>
        <servlet-class>
            com.google.appengine.tools.pipeline.impl.servlets.PipelineServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mapreduce</servlet-name>
        <servlet-class>
            com.google.appengine.tools.mapreduce.MapReduceServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OAI-PMH</servlet-name>
        <servlet-class>org.celstec.arlearn2.oai.OaiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PipelineServlet</servlet-name>
        <url-pattern>/_ah/pipeline/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapreduce</servlet-name>
        <url-pattern>/mapreduce/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.celstec.arlearn2.api</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>                                               ƒ
        <servlet-name>AsyncTasksServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.tasks.AsyncTasksServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BlobStoreServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.upload.BlobStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BlobStoreServletIncremental</servlet-name>
        <servlet-class>org.celstec.arlearn2.upload.BlobStoreServletIncremental</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BlobStoreServletWithUploadUrl</servlet-name>
        <servlet-class>org.celstec.arlearn2.upload.BlobStoreServletWithExternalUrl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadGameServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.upload.UploadGameServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadUserContentServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.upload.UploadUserContentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.download.DownloadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserContentServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.download.UserContentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OauthServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.oauth.OauthServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FacebookServlet</servlet-name>
        <servlet-class>org.celstec.arlearn2.facebook.FacebookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OauthServlet</servlet-name>
        <url-pattern>/oauth/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AsyncTasksServlet</servlet-name>
        <url-pattern>/asyncTask</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BlobStoreServlet</servlet-name>
        <url-pattern>/uploadService/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BlobStoreServletIncremental</servlet-name>
        <url-pattern>/uploadServiceIncremental/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BlobStoreServletWithUploadUrl</servlet-name>
        <url-pattern>/uploadServiceWithUrl/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadGameServlet</servlet-name>
        <url-pattern>/uploadGame/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadUserContentServlet</servlet-name>
        <url-pattern>/uploadUserContent/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserContentServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FacebookServlet</servlet-name>
        <url-pattern>/facebook/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OAI-PMH</servlet-name>
        <url-pattern>/oai/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
