<dibl-sidebar></dibl-sidebar>

<div id="page-wrapper" class="gray-bg">

    <dibl-header></dibl-header>

    <dibl-toolbar></dibl-toolbar>

    <div class="row inquiry">

        <!--<div class="input-group">-->
            <!--<input type="text" placeholder="Admin Theme" name="search" class="form-control input-lg">-->
            <!--<div class="input-group-btn">-->
                <!--<button class="btn btn-lg btn-primary" type="submit">-->
                    <!--Search-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->

        <!-- Module 1-->
        <div id="metadata" class="col-md-4 wrapper wrapper-content animated fadeInpanel-body" ng-repeat="template in catalogue track by $index">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    <span class="label label-warning text-right">{{ template.i18n }}</span>
                    {{ template.inquiry }}
                </div>

                <div class="ibox-content table-responsive" >
                    <div class="col-md-12 p-xs">

                        <h2 class="font-bold m-b-xs">
                            {{ template.inquiry }}
                        </h2>
                        <small>{{ template.author }}</small>
                        <div class="m-t-md">
                            <small class="text-muted">{{ template.purpose }}</small>
                        </div>
                        <hr>

                        <h4>Inquiry structure description</h4>

                        <div class="small text-muted">
                            {{ template.description }}
                        </div>
                        <hr>

                        <h4>Phases of the inquiry</h4>

                        <div class="mail-tools tooltip-demo m-t-md">
                            <div ng-repeat="phase in template.phases" class="m-xxs btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="" data-original-title="Refresh inbox"><i class="fa fa-square"></i> {{ $index+1 }}. {{ phase.phase }}</div>
                        </div>
                        <hr>

                        <div class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm" ng-click="createNewSelInquiry(template)"><i class="fa fa-copy"></i> Reuse structure</button>
                                <a target="_blank" href="{{ template.paper_url }}" class="btn btn-white btn-sm"><i class="fa fa-info"></i> More info </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>


        <dibl-footer></dibl-footer>

    </div>
</div>