<dibl-sidebar></dibl-sidebar>

<div id="page-wrapper" class="gray-bg">

    <dibl-header></dibl-header>

    <dibl-toolbar></dibl-toolbar>

    <div class="row inquiry">

        <!-- Module 1-->
        <div class="col-md-7 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{'dibl.inquiry.new-edit.inquiry-metadata' | translate}}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">
                        <form role="form">
                            <div class="box-body">
                                <form novalidate>
                                    <div class="form-group">
                                        <label for="gameTitle">{{'dibl.inquiry.new-edit.inquiry-title' |
                                            translate}}</label>
                                        <input required type="name" class="form-control" id="gameTitle"
                                               placeholder="{{'dibl.inquiry.new-edit.inquiry-title-placeholder' | translate}}"
                                               ng-model="game.title">
                                    </div>
                                </form>

                                <label>{{ 'dibl.inquiry.new-edit.inquiry-title' | translate }}</label>
                                <text-angular  ta-toolbar="[
                                    ['bold','italics'],
                                    ['justifyCenter', 'justifyLeft'], ['ul', 'ol'],
                                    ['insertImage', 'insertLink','insertVideo']]
                                    "ng-model="game.description"></text-angular>
                            </div>


                        </form>

                        <div class="pull-right tooltip-demo">
                            <a class="btn btn-white btn-sm" data-toggle="tooltip"
                               data-placement="top" title="Move to draft folder"><i class="fa fa-times"></i>
                                Discard</a>

                            <a class="btn btn-primary btn-sm" data-toggle="tooltip"
                               data-placement="top" ng-click="ok()" title="Save inquiry"><i class="fa fa-check"></i>
                                {{ 'dibl.inquiry.new-edit.inquiry-save' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{ 'dibl.inquiry.new-edit.inquiry-roles' | translate }}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">
                        <!--<h4><strong>{{ 'dibl.inquiry.new-edit.roles-title' | translate }} </strong></h4>-->

                        <p>{{ 'dibl.inquiry.new-edit.p-available-roles' | translate }} <b>{{ game.title }}</b></p>

                        <ul class="tag-list" style="padding: 0; display: inline-block;">
                            <li ng-repeat="role in game.config.roles2 track by $index"><a href=""  ng-click="selectRole($index)">
                                <i class="fa fa-circle" ng-style="{ 'color': role.color }"></i> {{ role.name }}</a></li>
                            <li ng-show="game.config.roles2 == 0"><a href=""><i class="fa fa-tag"></i> {{
                                'dibl.inquiry.new-edit.no-roles' | translate }}</a></li>
                        </ul>
                        <br/>

                        <div class="btn-group" style="width: 100%">
                            <input required type="name" class="form-control" id="roleName"
                                   placeholder="{{ 'dibl.inquiry.new-edit.placeholder-role' | translate }}"
                                   ng-keyup="$event.keyCode == 13 && addRole()"
                                   ng-model="role.name">
                            <span  ng-click="clearRole()" id="roleclear" class="glyphicon glyphicon-remove-circle"></span>
                        </div>


                        <br/>
                        <br/>

                        <input required type="color" class="form-control" id="roleColor"
                                   placeholder="{{ 'dibl.inquiry.new-edit.placeholder-role' | translate }}"
                                   ng-model="role.color">


                        <br/>
                        <!--<p>{{ game.config.roles }}</p>-->

                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" ng-show="!role.type && role.name" ng-click="addRole()"
                                            class="btn btn-primary btn-sm btn-block"><i
                                            class="fa fa-envelope"></i> {{ 'dibl.inquiry.new-edit.add-role' |
                                        translate }}
                                    </button>
                                    <button type="button" ng-show="role.type && role.name" style="margin-top: 0px;" ng-click="editRole()"
                                            class="btn btn-success btn-sm btn-block"><i
                                            class="fa fa-envelope"></i> {{ 'dibl.inquiry.new-edit.edit-role' |
                                        translate }}
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" ng-show="role.type && role.name" ng-click="removeRole()"
                                            class="btn btn-danger btn-sm btn-block"><i
                                            class="fa fa-coffee"></i> {{ 'dibl.inquiry.new-edit.remove-role' |
                                        translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{ 'dibl.inquiry.new-edit.inquiry-phases-activities' | translate }}
                </div>
                <div class="padding">
                    <p>{{ 'dibl.inquiry.new-edit.configuration-dashboard' | translate }}</p>
                </div>
                <div class="padding">

                    <section class="list_phase" ng-repeat="phase in phases track by $index">
                        <h3 style="margin-top: 0px;"><span class="title-phase" ng-click="renamePhase($index)">{{ $index }}. {{ phase.title }}</span>
                            <button class="btn btn-danger dim" ng-click="removePhase($index)" type="button">
                                <i class="fa fa-minus"></i>
                            </button>
                        </h3>
                        <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list ui-sortable">
                            <li ng-style="getRoleColor(activity.roles)" data="{{ activity.id }}" ng-repeat="(key, activity) in lists[$index] | orderByDayNumber:'sortKey'">
                                <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'" class="fa fa-tasks"></i>
                                <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'" class="fa fa-file-text"></i>
                                <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'" class="fa fa-file-movie-o"></i>
                                <i ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'" class="fa fa-folder"></i>

                                <a ng-click="editActivity(activity, game)">{{ activity.name }}</a>
                                <br/>
                                <p class="small">{{ activity.description | limitTo: 20 }}</p>
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">{{ getRoleName(activity.roles) }}</a>
                                    <i class="fa fa-clock-o"></i> {{ activity.lastModificationDate | date:'medium' }}
                                </div>
                            </li>
                        </ul>
                        <div class="new_activity">
                            <button class="btn btn-warning btn-circle new_activity_button"  ng-click="addNewActivity($index, game)" type="button">
                                <i class="fa fa-plus"></i>
                            </button>
                            <!--<input class="new_activity_body" type="text" placeholder="Type then hit to enter an activity"/>-->
                        </div>

                    </section>

                    <button class="btn btn-primary dim" ng-click="addPhase()" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-12 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{'dibl.inquiry.new-edit.run-inquiries' | translate}}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">


                        <div class="col-md-6">
                            <h3>{{'dibl.inquiry.new-edit.run-inquiries-title' | translate}}</h3>

                            <p>{{'dibl.inquiry.new-edit.run-inquiries-description' | translate}}</p>
                        </div>

                        <div class="col-md-6">
                            <h3>{{'dibl.inquiry.new-edit.run-inquiries-subtitle' | translate}}</h3>

                            <div class="input-group">
                                <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && createInquiryRun()" ng-model="run.title" placeholder="{{'dibl.inquiry.new-edit.add-run-placeholder' | translate}}">
                                <span class="input-group-btn" >
                                    <button
                                            type="button"  ng-disabled="run.title.length < 4 || !run.title"
                                            ng-click="createInquiryRun()" class="btn btn-success"><i class="fa fa-plus"></i>
                                        {{'dibl.inquiry.new-edit.add-run-button' | translate}}
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="project-list">
                            <table class="table table-hover">
                                <tbody>
                                <tr ng-repeat="(key, run) in gameRuns | orderByDayNumber:'serverCreationTime'">
                                    <td class="project-status">
                                        <span ng-show="run.deleted" class="label label-danger">Deleted</span>
                                        <span ng-hide="run.deleted" class="label label-primary">Active</span>
                                    </td>
                                    <td class="project-completion">
                                        <p><b>Code</b></p>
                                        <small>{{ run.code }}</small>
                                        <!--<div class="progress progress-mini">-->
                                        <!--<div style="width: 48%;" class="progress-bar"></div>-->
                                        <!--</div>-->
                                    </td>
                                    <td class="project-title">
                                        <a href="#inquiry/{{ run.runId }}">{{ run.title }}</a>
                                        <br>
                                        <small>Created {{ run.serverCreationTime | date:'medium' }}</small>
                                        <br/>
                                        <small>Modification {{ run.lastModificationDate | date:'medium' }}</small>
                                    </td>
                                    <!--<td class="project-completion">-->
                                        <!--<small>Completion with: 48%</small>-->
                                        <!--<div class="progress progress-mini">-->
                                            <!--<div style="width: 48%;" class="progress-bar"></div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <td class="project-people" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                                        <a href="#/profile/{{user.accountType}}:{{user.localId}}" ng-repeat="user in usersRun[run.runId]">
                                            <ng-letter-avatar shape="round" ng-if="user.picture == ''" data="{{ user.name }}"></ng-letter-avatar>
                                            <img
                                                alt="{{ user.name }}" title="{{ user.name }}" class="img-circle"
                                                ng-if="user.picture != ''"
                                                ng-src="{{ user.picture }}"></a>
                                    </td>
                                    <td class="project-actions">
                                        <a href="#inquiry/{{ run.runId }}" class="btn btn-white btn-sm"><i
                                                class="fa fa-eye"></i> View </a>
                                        <!--<a ng-click="addUsersToRun(run.runId, run.gameId)"-->
                                           <!--class="btn btn-white btn-sm"><i class="fa fa-user"></i> Add users </a>-->
                                        <a href="#/inquiry/{{ run.gameId }}/run/{{ run.runId }}/edit" class="btn btn-white btn-sm"><i
                                                class="fa fa-pencil"></i> Edit </a>
                                        <a ng-click="removeRun(run)" class="btn btn-default btn-sm"><i
                                                class="fa fa-times"></i> Delete </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{'dibl.inquiry.new-edit.editor-management' | translate}}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">
                        <div class="project-list">
                            <table class="table table-hover">
                                <tbody>

                                    <tr ng-repeat="(key, account) in accountsAccesGame">
                                        <td class="project-status">
                                            <span ng-show="account.accessRights == 2" class="label label-primary">User</span>
                                            <span ng-show="account.accessRights == 1" class="label label-danger">Editor</span>
                                        </td>
                                        <td class="client-avatar">
                                            <ng-letter-avatar shape="round" ng-if="account.picture == ''" data="{{ account.name }}"></ng-letter-avatar>
                                            <img alt="{{ account.name }}" title="{{ account.name }}" class="img-circle"
                                                ng-if="account.picture != ''"
                                                ng-src="{{ account.picture }}"></a>
                                        </td>
                                        <td><a data-toggle="tab" href="#contact-1" class="client-link">{{ account.name }}</a></td>
                                        <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                        <td> {{ account.email }}</td>
                                        <td class="project-actions">
                                            <a ng-show="account.accessRights == 2 && me.localId != account.localId" ng-click="grantEditorAccess(game, account)"
                                               class="btn btn-white btn-sm"><i class="fa fa-arrow-up"></i> Promote to editor </a>
                                            <a ng-show="account.accessRights == 1 && me.localId != account.localId" ng-click="revokeEditorAccess(game, account)"
                                               class="btn btn-white btn-sm"><i class="fa fa-arrow-down"></i> Relegate to user </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12 wrapper wrapper-content animated fadeInpanel-body">
            <div class="ibox-content">
                <div class="heading ng-binding">
                    {{'dibl.inquiry.new-edit.export-import' | translate}}
                </div>
                <div class="padding">
                    <div class="ibox-content profile-content">

                        <!--<textarea ui-codemirror ui-codemirror-opts="editorOptions2" ng-model="gameModel">-->

                        <!--</textarea>-->

                        {{ game }}
                    </div>
                </div>
            </div>
        </div>

        <dibl-footer></dibl-footer>

    </div>
</div>