<div id="wrapper" ng-show="isLoggedIn()">
    <dibl-sidebar></dibl-sidebar>

    <div id="page-wrapper" class="gray-bg">

        <dibl-header></dibl-header>

        <dibl-toolbar></dibl-toolbar>
        <div class="row inquiry">

            <div ng-show="games | isEmpty" class="tip" style="color: #000; font-size: 18px; text-align: center; padding-top: 150px; width:90%; margin:0 auto; z-index: 1;">
                {{ 'dibl.inquiry.home.click-first-1' | translate }}
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid inqCode" ng-model="inquiryCode">
                {{ 'dibl.inquiry.home.click-first-2' | translate }}
                <button class="btn btn-warning dropped" ng-disabled="inquiryCode.length < 4 || !inquiryCode" ng-click="findAndJoin()" style="width: 10em; vertical-align: baseline;">
                    <i class="fa fa-plus"></i> {{ 'dibl.inquiry.home.join-inquiry' | translate }}
                </button>
                {{ 'dibl.inquiry.home.to-use' | translate }}
            </div>

            <div ng-hide="games | isEmpty" class="col-md-12 wrapper wrapper-content animated fadeIn">
                <div class="panel-body no-padding-no-border-radius ng-scope">
                    <div class="ibox-content">
                        <div class="heading ng-binding">
                            <small class="chat-date pull-right">

                            </small>
                            Inquiry where you participate
                        </div>

                        <div class="row m-sm">
                            <div class="col-md-12">
                                <table class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded" data-page-size="8">
                                    <thead>
                                    <tr>
                                        <th class="footable-visible footable-first-column footable-sortable">Inquiry</th>
                                        <th class="footable-sortable">Date</th>
                                        <th class="footable-sortable"></th>
                                        <th class="footable-visible footable-last-column footable-sortable">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(key, game) in games | orderByDayNumber:'lastModificationDate':true">
                                        <tr ng-class-even="'footable-even'" ng-click="showRuns(game.gameId);">
                                            <td class="footable-visible"><a class="btn btn-primary btn-sm"><i class="fa fa-mortar-board"></i>  {{ game.title | limitTo: 20 }}</a></td>
                                            <td class="footable-visible">{{ game.lastModificationDate | timeago }}</td>
                                            <td></td>
                                            <td class="project-actions footable-visible footable-last-column">
                                                <!--<a class="btn btn-danger btn-sm" ng-click="deleteInquiry(game.gameId)"  ng-show="game.access[myAccount.accountType+':'+myAccount.localId].accessRights == 1"><i class="fa fa-trash"></i> Delete </a>-->
                                                <a class="btn btn-success btn-sm" ng-click="cloneInquiry(game.gameId)"   ng-show="game.access[myAccount.accountType+':'+myAccount.localId].accessRights == 1"><i class="fa fa-copy"></i> Clone </a>
                                                <a class="btn btn-warning btn-sm" href="#inquiry/{{ game.gameId }}/edit" ng-show="game.access[myAccount.accountType+':'+myAccount.localId].accessRights == 1"><i class="fa fa-pencil-square"></i> Teacher view</a>
                                            </td>
                                        </tr>
                                        <tr ng-if="game.gameId == run.gameId" ng-repeat="run in runs[gameSelected]">

                                            <td>&nbsp;</td>
                                            <td class="project-title">
                                                <a>{{ run.title | limitTo: 20 }}</a>
                                            </td>
                                            <td>{{ run.code }}</td>
                                            <td class="project-actions footable-visible">
                                                <a href="#inquiry/{{ run.runId }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square"></i> Student access</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <dibl-footer></dibl-footer>

    </div>
</div>
