<div class="inmodal" about="sss">
    <div class="modal-header">
        <h4 ng-if="activity.id" class="modal-title">Edit activity</h4>
        <h4 ng-if="!activity.id" class="modal-title">Create activity</h4>
    </div>
    <div class="modal-body form-horizontal" >
        <form class="form-horizontal" method="get">

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{
                        'dibl.inquiry.new-edit.title-activity' | translate
                        }}</label>

                    <div class="col-sm-9">
                        <input type="text" ng-model="activity.name" ng-keyup="activity.gameId != 4913623780556800 && $event.keyCode == 13 && ok()" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'dibl.inquiry.new-edit.type-activity' | translate }}</label>
                    <div class="col-sm-9">
                        <select id="type_activity" class="form-control" ng-model="activity.type">
                            <option ng-repeat="option in list_original" value="{{option.type}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'">
                    <label class="col-sm-3 control-label">{{ 'dibl.inquiry.new-edit.video-activity' | translate }}</label>
                    <div class="col-sm-9" >
                        <input placeholder="Ex: https://www.youtube.com/embed/4zZbX_9ru9U"
                               type="url"
                               ng-model="activity.videoFeed"
                               class="form-control">
                        <span class="help-block m-b-none">Use the embed URL</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{
                        'dibl.inquiry.new-edit.roles-activity' | translate
                        }}</label>

                    <!-- Roles -->
                    <div class="col-sm-9">
                        <select name="repeatSelect" id="repeatSelect" class="form-control" ng-model="activity.roles2" multiple>
                            <option ng-repeat="option in game.config.roles2 track by $index" value="{{ option }}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{
                        'dibl.inquiry.new-edit.dueto' | translate
                        }}</label>

                    <div class="col-sm-9">
                        <input type="datetime"
                               class="form-control"
                               date-time
                               ng-model="activity.timestamp"
                               view="date"
                               auto-close="true">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label">Phase</label>-->

                    <!--<div class="col-sm-9">-->
                        <!--<input type="text"-->
                               <!--ng-disabled="true"-->
                               <!--placeholder="Phase"-->
                               <!--ng-model="activity.section"-->
                               <!--class="form-control">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <ul class="list-unstyled project-files" >
                        <li ng-repeat="asset in assets|filter:'/generalItems/'+activity.id"><a href=""><i class="fa fa-file"></i> ... {{ asset.path | limitTo : 30:asset.path.length-30 }}</a></li>
                    </ul>
                    <div class="btn btn-primary btn-block" ngf-capture="'camera'" ngf-select="upload($file)">Upload Files</div>
                    <div class="progress  progress-striped">
                        <div ng-style="{ 'width' : progressPercentage + '%' }" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ progressPercentage }}" role="progressbar" class="progress-bar progress-bar-success">
                            <span class="sr-only">{{ progressPercentage }}% Complete (success)</span>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <div class="col-sm-12">
                        <text-angular class="pruebas" ta-toolbar="[
                                                                ['bold','italics'],
                                                                ['justifyCenter', 'justifyLeft'], ['ul', 'ol'],
                                                                ['insertImage', 'insertLink']]
                                                                "ng-model="activity.richText" ng-change="saveActivity()"
                                      ng-model-options="{debounce: 750}"></text-angular>
                    </div>
                </div>
            </div>



        </form>
    </div>
    <div class="modal-footer">
        <button id="inquiry-new-close" type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button ng-hide="activity.gameId == 4913623780556800" id="inquiry-new-delete" type="button" class="btn btn-danger" ng-click="removeActivity(activity)">Delete</button>
        <button ng-hide="activity.gameId == 4913623780556800" id="inquiry-new-create" type="button" class="btn btn-primary" ng-click="ok()">Save</button>
    </div>
</div>