<div>

    <div class="panel-body no-padding-no-border-radius" >
        <div class="ibox-content">
            <div class="heading" ng-repeat="role in activity.roles2 track by $index" ng-show="$first"  ng-style="{'background-color': role.color }">
                <small  class="ibox-tools chat-date pull-right" >
                    <!--<a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit">-->
                        <!--<i class="fa fa-pencil"></i>-->
                    <!--</a>-->
                    <a class="close-link" ng-click="closeActivity()" title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                        <i class="fa fa-times"></i>
                    </a>
                </small>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'"><i class="fa fa-file-video-o"></i> {{ activity.name }} | Video activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'"><i class="fa fa-file-text"></i> {{ activity.name }} | Discussion activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'"><i class="fa fa-picture-o"></i> {{ activity.name }} | Data collection activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'"><i class="fa fa-tasks"></i> {{ activity.name }} | List activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.SingleChoiceImageTest'"><i class="fa fa-list-alt"></i> {{ activity.name }} | Multi activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.MultipleChoiceTest'"><i class="fa fa-file-text"></i> {{ activity.name }} | Insert text activity</span>

                <div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>
            <div class="heading" ng-show="activity.roles2 == ''">
                <small  class="chat-date pull-right" >
                    <div class="ibox-tools">
                        <!--<a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit"-->
                           <!--title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">-->
                            <!--<i class="fa fa-pencil"></i>-->
                        <!--</a>-->
                        <a class="close-link" ng-click="closeActivity()" title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </small>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'"><i class="fa fa-file-video-o"></i> {{ activity.name }} | Video activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'"><i class="fa fa-file-text"></i> {{ activity.name }} | Discussion activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'"><i class="fa fa-picture-o"></i> {{ activity.name }} | Data collection activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'"><i class="fa fa-tasks"></i> {{ activity.name }} | List activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.SingleChoiceImageTest'"><i class="fa fa-tasks"></i> {{ activity.name }} | Multi activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.MultipleChoiceTest'"><i class="fa fa-file-text"></i> {{ activity.name }} | Insert text activity</span>
                <div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>


            <div class="social-feed-box">

                <discussion-activity activity="activity" ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'"></discussion-activity>

                <list-activity activity="activity" ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'"></list-activity>

                <text-activity activity="activity" ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.MultipleChoiceTest'"></text-activity>

                <act-multi-activity list="activity.multiactivities" ng-if="activity.multiactivities != ''"></act-multi-activity>

                <div class="social-footer">

                    <!--<div class="alert alert-warning" ng-show="responses">-->
                        <!--No comments so far. <a class="alert-link"> Be the first one {{ myAccount.givenName }}</a>.-->
                    <!--</div>-->


                    <responses ng-repeat='response in responses | orderByDayNumber:"lastModificationDate"' response='response'></responses>


                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if="account.picture == ''" data="{{  account.givenName }}"></ng-letter-avatar>
                            <img class="message-avatar" ng-if="account.picture != ''" ng-src="{{  account.picture }}" alt="">
                        </a>
                        <div class="media-body">
                            <text-angular class="pruebas"
                                          placeholder="{{'dibl.toolbar.placeholder-comments' | translate }}"
                                          ta-toolbar="[
                                                                ['bold','italics'],
                                                                ['justifyCenter', 'justifyLeft'], ['ul', 'ol']
                                                                ]
                                                                " ng-model="responseText" ></text-angular>

                            <img ngf-src="picFile" class="thumb">
                              <span class="progress" ng-show="picFile.progress >= 0">
                                  <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                              </span>
                            <span ng-show="picFile.result">Upload Successful</span>

                            <img ngf-src="multimedia" ng-repeat="multimedia in arrayMultimedia" class="thumb">

                            <div class="text-right">
                                <button class="btn btn-sm btn-primary m-t-sm " ngf-select="upload($file)"><strong><i class="fa fa-image"></i></strong></button>
                                <button class="btn btn-sm btn-primary m-t-sm save" ng-click="sendComment()" ng-show="responseText"><strong>Post comment</strong></button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
