<div>

    <div class="panel-body no-padding-no-border-radius">
        <div class="ibox-content">
            <div class="heading" ng-repeat="role in activity.roles2 track by $index" ng-show="$first"  ng-style="{'background-color': role.color }">
                <small  class="chat-date pull-right" >
                    <a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                </small>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'"><i class="fa fa-file-video-o"></i> {{ activity.name }} | Video activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'"><i class="fa fa-file-text"></i> {{ activity.name }} | Discussion activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'"><i class="fa fa-picture-o"></i> {{ activity.name }} | Data collection activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'"><i class="fa fa-tasks"></i> {{ activity.name }} | List activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.SingleChoiceImageTest'"><i class="fa fa-tasks"></i> {{ activity.name }} | Multi activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.MultipleChoiceTest'"><i class="fa fa-file-text"></i> {{ activity.name }} | Insert text activity</span>

                <div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>
            <div class="heading" ng-show="activity.roles2 == ''">
                <small  class="chat-date pull-right" >
                    <div class="ibox-tools">
                        <a class="close-link" ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit"
                           title="{{'dibl.toolbar.edit-structure' | translate }} {{ run.game.title }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </small>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.VideoObject'"><i class="fa fa-file-video-o"></i> {{ activity.name }} | Video activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'"><i class="fa fa-file-text"></i> {{ activity.name }} | Discussion activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.ScanTag'"><i class="fa fa-picture-o"></i> {{ activity.name }} | Data collection activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'"><i class="fa fa-tasks"></i> {{ activity.name }} | List activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.SingleChoiceImageTest'"><i class="fa fa-tasks"></i> {{ activity.name }} | Multi activity</span>
                <span ng-show="activity.type == 'org.celstec.arlearn2.beans.generalItem.MultipleChoiceTest'"><i class="fa fa-file-text"></i> {{ activity.name }} | Insert text activity</span>
                <div ng-show="disableMessagesLoading" class="sk-spinner sk-spinner-wave loading-switch">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>


            <div class="social-feed-box">

                <discussion-activity activity="activity" ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.NarratorItem'"></discussion-activity>

                <list-activity activity="activity" ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.AudioObject'"></list-activity>

                <text-activity activity="activity" ng-if="activity.type == 'org.celstec.arlearn2.beans.generalItem.MultipleChoiceTest'"></text-activity>

                <act-multi-activity list="activity.multiactivities" ng-if="activity.multiactivities != ''"></act-multi-activity>

                <div class="social-footer">
                    <p>Page {{responses.$current()}}  of comments</p>
                </div>

                <div class="social-footer">

                    <!--<div class="alert alert-warning" ng-show="responses">-->
                        <!--No comments so far. <a class="alert-link"> Be the first one {{ myAccount.givenName }}</a>.-->
                    <!--</div>-->

                    <ul class="pagination">
                        <!--<li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>-->
                        <li class="footable-page-arrow"><button class="p-xxs" data-page="prev" ng-click="responses.$prev()">‹</button></li>
                        <!--<li class="footable-page active"><a data-page="0" href="#">1</a></li>-->
                        <!--<li class="footable-page"><a data-page="1" href="#">{{ responses.$$updated }}</a></li>-->
                        <li class="footable-page-arrow"><button class="p-xxs" data-page="next" ng-click="responses.$next()">›</button></li>
                        <!--<li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>-->
                    </ul>

                    <responses ng-repeat='response in responses | orderByDayNumber:"lastModificationDate"' response='response'></responses>

                    <ul class="pagination">
                        <!--<li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li>-->
                        <li class="footable-page-arrow"><button class="p-xxs" data-page="prev" ng-click="responses.$prev()">‹</button></li>
                        <!--<li class="footable-page active"><a data-page="0" href="#">1</a></li>-->
                        <!--<li class="footable-page"><a data-page="1" href="#">2</a></li>-->
                        <li class="footable-page-arrow"><button class="p-xxs"  data-page="next" ng-click="responses.$next()">›</button></li>
                        <!--<li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>-->
                    </ul>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if="account.picture == ''" data="{{  account.givenName }}"></ng-letter-avatar>
                            <img class="message-avatar" ng-if="account.picture != ''" ng-src="{{  account.picture }}" alt="">
                        </a>
                        <div class="media-body">
                            <text-angular class="pruebas"
                                          placeholder="{{'dibl.toolbar.placeholder-comments' | translate }}"
                                          ta-toolbar="[
                                                                ['bold','italics'],
                                                                ['justifyCenter', 'justifyLeft'], ['ul', 'ol']
                                                                ]
                                                                " ng-model="responseText" ></text-angular>
                            <div class="text-right">
                                <!--<div class="button" ngf-select="upload($file)">Upload on file select</div>-->
                                <button class="btn btn-sm btn-primary m-t-sm save" ng-click="sendComment()" ng-disabled="!responseText"><strong>Post comment</strong></button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
