<div class="social-comment highlight" id="{{ response.responseId }}" >
    <a href="" class="pull-left">
        <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if="response.user.picture == ''" data="{{ response.user.name }}"></ng-letter-avatar>
        <img class="message-avatar" ng-if="response.user.picture != ''" ng-src="{{ response.user.picture }}" alt="">
    </a>

    <div class="media-body" data-item="{{ response.responseId }}">
        <a href="#/profile/{{ response.user.accountType }}:{{ response.user.localId }}">
            {{ response.user.name }}
        </a> - <small class="text-muted">{{ response.lastModificationDate | date:'medium' }}</small>

        <br/>

        <div class="alert alert-info2 ng-scope">
            <div ng-if="response.parentId!=0 && !!response.parentValue" class="alert alert-info2 ng-scope"  >
                <a href="" class="pull-left">
                    <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if="response.parentValue.user.picture == ''" data="{{ response.parentValue.user.name }}"></ng-letter-avatar>
                    <img class="message-avatar" ng-if="response.parentValue.user.picture != ''" ng-src="{{ response.parentValue.user.picture }}" alt="">
                </a>
                <a href="#/profile/{{ response.parentValue.user.accountType }}:{{ response.parentValue.user.localId }}">
                    {{ response.parentValue.user.name }}
                </a> - <small class="text-muted">{{ response.parentValue.lastModificationDate | date:'medium' }}</small>
                <p class="message-reply" ng-bind-html="response.parentValue.responseValue"></p>
            </div>
            <div ng-if="response.parentId!=0 && !response.parentValue" class="alert alert-info2 ng-scope">
                <a href="#/profile/{{ response.parentValue.user.accountType }}:{{ response.parentValue.user.localId }}">
                    The comment has been removed
                </a>
            </div>
            <p ng-bind-html="response.responseValueNew" ></p>
            <!--<p dd-text-collapse dd-text-collapse-max-length="250" dd-text-collapse-text="{{ response.responseValueNew }}" ></p>-->
        </div>

        <div>
            <a data="{{ response.responseId }}" gItem="{{ response.generalItemId }}" class="small reply" ng-click="hiddenDiv = !hiddenDiv"> <i class="fa fa-mail-reply"></i> Reply</a> •
            <!--<a class="small" ng-click="share(response)"><i class="fa fa-share"></i> Share in chat</a> <span ng-show="myAccount.localId == response.user.localId"> • </span>-->
            <a class="small" ng-show="myAccount.localId == response.user.localId" ng-click="removeComment(response)"><i class="fa fa-times"></i> Delete</a>
        </div>
    </div>
    <div class="social-comment" ng-show="hiddenDiv">
        <a href="" class="pull-left">
            <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if="myAccount.picture == ''" data="{{ myAccount.name }}"></ng-letter-avatar>
            <img class="message-avatar" ng-if="myAccount.picture != ''" ng-src="{{ myAccount.picture }}" alt="">
        </a>
        <div class="media-body">
            <text-angular class="pruebas" ta-toolbar="[
                                                                ['bold','italics'],
                                                                ['justifyCenter', 'justifyLeft'], ['ul', 'ol'],
                                                                ['insertImage', 'insertLink']]
                                                                "ng-model="responseChildren"></text-angular>
            <div class="text-right">
                <button type="submit" ng-disabled="!responseChildren" class="btn btn-sm btn-primary m-t-sm save" responseid="0" ng-click="sendChildComment(response, responseChildren )"><strong>{{'dibl.inquiry.activity.post-comment' | translate }}</strong></button>
            </div>
        </div>
    </div>
</div>