<div class="social-comment" id="{{ response.$id }}" ng-class="{ 'highlight-hash-link': currentHash() == response.$id  }">
    <small class="chat-date pull-right" ng-show="currentHash() == response.$id">
        <a class="close-link" href="#inquiry/{{ response.runId }}/phase/{{ response.phase }}/activity/{{ response.generalItemId }}">
            <i class="fa fa-times"></i>
        </a>
    </small>
    <a href="" class="pull-left">
        <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if="response.userProfile == ''" data="{{ response.userName }}"></ng-letter-avatar>
        <img class="message-avatar" ng-if="response.userProfile != ''" ng-src="{{ response.userProfile }}" alt="">
    </a>
    <div class="media-body">
        <a href="#/profile/{{ response.userLocalId }}">
            {{ response.userName }}
        </a> • <small class="text-muted">{{ response.lastModificationDate | date:'medium' }}</small>

        <div ng-bind-html="response.responseValue" ></div>



        <div class="lightBoxGallery">
            <a href="{{ multimedia.url }}" data-gallery ng-repeat="multimedia in response.multimedia" ><img ngf-src="multimedia.url" class="thumb"></a>
        </div>


        <br/>
        <!--<a class="small reply" ng-click="hiddenDivReply = !hiddenDivReply"> <i class="fa fa-mail-reply"></i> Reply</a> •-->

        <a ng-click="likedComment(response, myAccount.localId)" class="small" ><i class="fa fa-thumbs-up"></i> <span ng-show="!response.likes[myAccount.localId]">Like</span> <span ng-show="response.likes[myAccount.localId]">Liked</span> </a> <span ng-show="response.likeCount > 0">{{ response.likeCount }}</span> <span ng-show="myAccount.localId == response.userLocalId"> • </span>

        <a ng-click="pinnedComment(response, myAccount.localId)" class="small" ><i ng-show="!response.pinned" class="fa fa-bookmark-o"></i> <i ng-show="response.pinned" class="fa fa-bookmark"></i> <span ng-show="!response.pinned">Pin</span> <span ng-show="response.pinned">Pinned</span> </a> <span ng-show="myAccount.localId == response.userLocalId"> • </span>

        <a class="small" ng-show="myAccount.localId == response.userLocalId" ng-click="hiddenDiv = !hiddenDiv"><i class="fa fa-edit"></i> Edit</a> <span ng-show="myAccount.localId == response.userLocalId"> • </span>
        <a class="small" ng-show="myAccount.localId == response.userLocalId" ng-click="removeComment(response)"><i class="fa fa-times"></i> Delete</a>
        <span ng-show="response.edited">•</span>
        <small ng-show="response.edited" class="text-muted">Edited</small>
    </div>


    <div class="social-comment" ng-show="hiddenDiv">
        <a href="" class="pull-left">
            <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if=" myAccount.picture == ''" data="{{  myAccount.name }}"></ng-letter-avatar>
            <img class="message-avatar" ng-if=" myAccount.picture != ''" ng-src="{{  myAccount.picture }}" alt="">
        </a>
        <div class="media-body">
            <text-angular class="pruebas"
                          placeholder="{{'dibl.toolbar.placeholder-comments' | translate }}"
                          ta-toolbar="[
                                                                ['bold','italics'],
                                                                ['justifyCenter', 'justifyLeft'], ['ul', 'ol']
                                                                ]
                                                                " ng-model="newText"  ng-model-options="{debounce: 750}"></text-angular>
            <div class="text-right">
                <!--<div class="button" ngf-select="upload($file)">Upload on file select</div>-->
                <a class="btn btn-sm btn-primary m-t-sm save" ng-click="saveComment(newText)"><strong>Post comment</strong></a>
            </div>
        </div>
    </div>


    <div class="social-comment" ng-show="hiddenDivReply">
        <a href="" class="pull-left">
            <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if=" myAccount.picture == ''" data="{{  myAccount.name }}"></ng-letter-avatar>
            <img class="message-avatar" ng-if=" myAccount.picture != ''" ng-src="{{  myAccount.picture }}" alt="">
        </a>
        <div class="media-body">
            <text-angular class="pruebas"
                          placeholder="{{'dibl.toolbar.placeholder-comments' | translate }}"
                          ta-toolbar="[
                                                                ['bold','italics'],
                                                                ['justifyCenter', 'justifyLeft'], ['ul', 'ol']
                                                                ]
                                                                " ng-model="newReply"  ng-model-options="{debounce: 750}"></text-angular>
            <div class="text-right">
                <!--<div class="button" ngf-select="upload($file)">Upload on file select</div>-->
                <a class="btn btn-sm btn-primary m-t-sm save" ng-click="sendComment(newReply)"><strong>Post comment</strong></a>
            </div>
        </div>
    </div>


</div>
