<div class="chat-message right">
    <div class="message-avatar">
        <ng-letter-avatar class="message-avatar" avatarcustomborder="border-radius: 4px" ng-if="message.picture == ''" data="{{ message.name }}"></ng-letter-avatar>
        <img class="message-avatar" ng-if="message.picture != ''" ng-src="{{ message.picture }}" alt="">

    </div>
    <div class="message">
        <a class="message-author" href="#/profile/{{ message.localId}}"> {{ message.name }} </a>
        <span class="message-date"> {{ message.date | date:'short' }}</span>
        <span class="message-content" ng-bind-html="message.body | emoticons:{linkTarget:'_blank'}">
        {{ message.body }}
        </span>
    </div>
</div>