<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-language"/> {{'lang' | translate }}
                </a>
                <ul class="dropdown-menu dropdown-messages langs">
                    <li ng-repeat="flag in flags">
                        <div class="link-block" ng-click="setLanguage(flag.id)">
                            <a><img ng-src="{{ flag.icon }}" alt="flag"> <strong>{{ flag.name }}</strong></a>
                        </div>
                        <div ng-hide="$last" class="divider"></div>
                    </li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell"></i>  <span class="label label-primary" ng-show="notifications.length > 0">{{ notifications.length }}</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts" >
                    <li ng-repeat="notification in notifications" ng-show="notifications.length > 0">
                        <a ng-click="notificationRead(notification)" href="#inquiry/{{ notification.groupId }}/phase/{{ notification.phaseId }}/activity/{{ notification.activityId }}#{{ notification.responseId }}">
                            <div>
                                <i ng-class="{ 'fa-thumbs-up': notification.type == 'like_response' }" class="fa fa-fw"></i> {{ notification.description }}
                                <span class="pull-right text-muted small">{{ notification.timestamp | timeago }}</span>
                            </div>
                        </a>
                    </li>
                    <li ng-show="notifications.length == 0">
                        <div class="bg-success p-xs b-r-sm"> {{'notification-panel-clean' | translate }}</div>
                    </li>
                </ul>
            </li>
            <li>
                <a ng-click="signout()">
                    <i class="fa fa-sign-out"></i> {{'logout' | translate }}
                </a>
            </li>
        </ul>

    </nav>
</div>

