<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a ng-show="state.current.name != 'home'" class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#/home" ><i class="fa fa-bars"/> Go to Home page </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-language"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li ng-repeat="flag in flags">
                        <div class="text-center link-block" ng-click="setLanguage(flag.id)">
                            <a><img ng-src="{{ flag.icon }}" alt="flag"> <strong>{{ flag.name }}</strong></a>
                        </div>
                        <div ng-hide="$last" class="divider"></div>
                    </li>

                </ul>
            </li>
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" >-->
                    <!--<i class="fa fa-bell"></i>  <span class="label label-primary" ng-show="notifications.length > 0">{{ notifications.length }}</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-alerts">-->
                    <!--<li ng-repeat="notification in notifications">-->
                        <!--<a href="mailbox.html">-->
                            <!--<div>-->
                                <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li ng-repeat="notification in notifications" class="divider"></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a ng-click="signout()">
                    <i class="fa fa-sign-out"></i> {{'dibl.header.logout' | translate }}
                </a>
            </li>
            <li class="bg-danger feedback">

                <a target="_blank" href="https://github.com/WELTEN/dojo-ibl/issues">
                    <i class="fa fa-tasks"></i> <span>{{'dibl.header.version' | translate }}.</span> {{'dibl.header.feedback' | translate }}?
                </a>
            </li>
        </ul>

    </nav>
</div>