<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Create inquiry</h4>
    </div>
    <div class="modal-body form-horizontal" >
        <div class="form-group">
            <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
                <input type="text" ng-model="game.title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">IBL model template</label>

            <div class="col-sm-9">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="game.template" value="option1" id="inlineCheckbox1"> Yes, I would you like to create my own inquiry starting from the IBL model template.</label>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    </div>
    <div class="modal-footer">
        <button id="inquiry-new-close" type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button id="inquiry-new-create" type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
    </div>
</div>