<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Create inquiry</h4>
    </div>
    <div class="modal-body form-horizontal" >
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'template-modal-title' | translate }}</label>
            <div class="col-sm-9">
                <input type="text" ng-model="game.title" class="form-control">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    </div>
    <div class="modal-footer">
        <button id="inquiry-new-close" type="button" class="btn btn-white" ng-click="cancel()">{{ 'template-modal-cancel' | translate }}</button>
        <button id="inquiry-new-create" type="button" class="btn btn-primary" ng-click="ok()">{{ 'template-modal-create' | translate }}</button>
    </div>
</div>