<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <a href="#/profile/{{ myAccount.accountType }}:{{ myAccount.localId }}">
                            <ng-letter-avatar shape="round" ng-if="myAccount.picture == ''" data="{{ myAccount.name }}"></ng-letter-avatar>
                            <img alt="image" class="img-circle" ng-if="myAccount.picture != ''" ng-src="{{ myAccount.picture }}">
                        </a>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#/profile/{{ myAccount.accountType }}:{{ myAccount.localId }}">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{ myAccount.name }}</strong>
                            </span>
                            <!--<span class="text-muted text-xs block">Art Director</span>-->
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <!--<li ng-show="myAccount.accountLevel == 1">-->
                <!--<a href="#/backend"><i class="fa fa-tasks"></i> <span class="nav-label">{{'dibl.sidebar.backend' | translate}}</span>-->
                    <!--&lt;!&ndash; <span class="label label-warning pull-right">Current</span> &ndash;&gt;-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="#/home">
                    <i class="fa fa-home"></i> <span class="nav-label">{{'dibl.sidebar.inquiries' | translate}}</span>
                    <!-- <span class="label label-warning pull-right">Current</span> -->
                </a>
            </li>
            <li>
                <a id="add-inquiry-new" href="#/catalogue/inquiry" >
                    <i class="fa fa-plus"></i>{{'dibl.sidebar.createinquiry' | translate}}</a>
            </li>
            <!--<li>-->
                <!--<a href="#/home"><i class="fa fa-home"></i> <span class="nav-label">{{ run.game.title | limitTo: 15 }} {{ run.game.title.length > 15 ? '...' : ''}} [{{ run.code }}]</span></a>-->
            <!--</li>-->
            <li ng-show="run" class="active inquiry-sidebar">
                <a href="#inquiry/{{ run.runId }}"><i class="fa fa-asterisk"></i> <span class="nav-label sidebar-inquiry-title">{{ run.title | limitTo: 15 }} {{ run.title.length > 15 ? '...' : ''}}</span></a>
                <ul class="nav nav-second-level">
                    <li class="sidebar-inquiry-timeline" ng-class="{ 'active':statePhase == 'inquiry.timeline'  }">
                        <!--<a href="#inquiry/{{ run.runId }}/timeline"><i class="fa fa-clock-o"></i>{{'dibl.sidebar.timeline' | translate}}</a>-->
                    </li>
                    <li class="sidebar-inquiry-calendar" ng-class="{ 'active':statePhase == 'inquiry.calendar'  }">
                        <a href="#inquiry/{{run.gameId}}/{{ run.runId }}/calendar"><i class="fa fa-calendar"></i>{{'dibl.sidebar.calendar' | translate}}
                        <!--<span class="label label-danger pull-right">Unavailable</span>--></a>
                    </li>
                    <li ng-class="{ 'active':statePhase == 'inquiry.home'  }" >
                        <a href="#inquiry/{{ run.runId }}"><i class="fa fa-share-alt"></i>{{'dibl.sidebar.phases' | translate}} </a>
                        <ul class="nav nav-third-level">
                            <li ng-repeat="phase in run.game.phases" ng-class="{ 'active':phaseNumber == $index  }">
                                <a href="#inquiry/{{ run.runId }}/phase/{{ $index }}">
                                    <i class="fa fa-circle"></i> {{ phase.title | limitTo: 15 }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-show="game" class="active inquiry-sidebar">
                <a><i class="fa fa-asterisk"></i> <span class="nav-label sidebar-inquiry-title">{{ game.title | limitTo: 15 }} {{ game.title.length > 15 ? '...' : ''}}</span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ng-click="gotoAnchor('metadata')"><i class="fa fa-edit"></i>{{'dibl.inquiry.new-edit.inquiry-metadata' | translate}}</a>
                    </li>
                    <li>
                        <a ng-click="gotoAnchor('roles')"><i class="fa fa-user"></i>{{ 'dibl.inquiry.new-edit.inquiry-roles' | translate }}</a>
                    </li>
                    <li>
                        <a ng-click="gotoAnchor('phase-activity')"><i class="fa fa-circle"></i>{{ 'dibl.inquiry.new-edit.inquiry-phases-activities' | translate }}</a>
                    </li>
                    <li>
                        <a ng-click="gotoAnchor('calendar')"><i class="fa fa-calendar"></i>{{'dibl.inquiry.new-edit.calendar' | translate}}</a>
                    </li>
                    <li>
                        <a ng-click="gotoAnchor('inquiry-group')"><i class="fa fa-sitemap"></i>{{'dibl.inquiry.new-edit.run-inquiries' | translate}}</a>
                    </li>
                    <li>
                        <a ng-click="gotoAnchor('editor')"><i class="fa fa-key"></i>{{'dibl.inquiry.new-edit.editor-management' | translate}}</a>
                    </li>
                    <li>
                        <a ng-click="gotoAnchor('delete')"><i class="fa fa-key"></i>{{'dibl.inquiry.new-edit.delete-inquiry' | translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#/profile/{{ myAccount.accountType }}:{{ myAccount.localId }}"><i class="fa fa-user"></i> <span class="nav-label">{{'dibl.sidebar.profile' | translate}}</span>
                    <!-- <span class="label label-warning pull-right">Current</span> --></a>
            </li>
            <li>
                <a target="_blank" href="https://docs.google.com/document/d/1Sgw4YJ4AzZnAVrI6M61apo7fw49hHXihVeIyG348BC4/edit?usp=sharing"><i class="fa fa-file"></i> <span class="nav-label">{{'dibl.sidebar.documentation' | translate}}</span>
                    <span class="label label-info pull-right">NEW</span></a>
            </li>
        </ul>

    </div>
</nav>