<div class="row wrapper border-bottom white-bg page-heading p-sm">
    <div class="col-md-9">
        <h2>
            <span ncy-breadcrumb-last></span>
        </h2>
        <ol class="breadcrumb">
            <li>
                <strong><div ncy-breadcrumb></div></strong>
            </li>
        </ol>
    </div>
    <div class="col-md-3">
        <div class="title-action">
            <a ng-show="game.accessRights == 1" href="#/inquiry/{{ run.gameId }}/edit"
               class="btn btn-danger m-md"><i class="fa fa-pencil"></i> {{'dibl.toolbar.edit-structure' | translate }} <b>{{ run.game.title }}</b></a>
            <!--<a ng-show="game.accessRights == 1 && (state.current.name == 'inquiry.home' || state.current.name == 'inquiry.phase' || state.current.name == 'inquiry.activity' || state.current.name == 'inquiry.timeline')"-->
               <!--href="#/inquiry/{{ run.gameId }}/run/{{ run.runId }}/edit"  class="btn btn-danger m-md"><i class="fa fa-pencil"></i> {{'dibl.toolbar.edit-run' | translate }} <b>{{ run.title }}</b></a>-->

            <div class="m-md" ng-show="state.current.name == 'home'">
                <div class="input-group" >
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="inquiryCode">
                <span class="input-group-btn">
                    <button type="button" ng-disabled="inquiryCode.length < 4 || !inquiryCode" ng-click="findAndJoin()" class="btn btn-warning ng-binding" disabled="disabled"><i class="fa fa-plus"></i> {{'dibl.toolbar.join' | translate }}
                    </button>
                </span>
                </div>
            </div>

            <!--<div class="col-md-2" ng-show="state.current.name == 'home'">-->
                <!--<a  href="#create/inquiry"  class="btn btn-success m-md"><i class="fa fa-plus"></i> {{'dibl.toolbar.new' | translate }} </a>-->
            <!--</div>-->


            <!--<a  href="" ng-show="state.current.name == 'home'" class="btn btn-warning  m-md" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i> </a>-->
        </div>
    </div>
</div>